
/* 
 * ------- colorset default ---------------------
 */



/*===========================
basic
===========================*/



a {
	color: #D50000;
}


/*===========================
general
===========================*/



body {
	color:#555;
}


/* heading */

h1, h2, h3, h4, h5, h6 {
	color: #333;
}


h2 {
	color:#555;
	border-bottom:2px solid #ccc;
}

h2.h2Catch1 {	
	color:#555;
}



h3 {
	color:#555;
	border-bottom:1px dotted #c7bbad;
}

h3.h3Catch1 {
	color:#555;
}

h3.h3Catch2 {
	color:#555;
}

h4 {
	color:#555;
}

h4.h4borderB {
	border-bottom:1px dotted #c7bbad;
}






.notes {
	border: 1px solid #ededed;
}
.contact .notes span {
	color: #888;
}
.notes ul {
	padding: 0 3px 0 3px;
}
.notes ul li:before {
	background: #888;
}

.faxNoLink a {
	color:#333;
}

a.telNoDeco {
	color:#626262;
}




/* buttons */

.txtBnr a {
	background-color:#bfbfbf;
}



.txtBnr2 a {
	color:#FFF;
	background-color:#dadada;
	margin:0.4em 0;
}



.txtBnr3 a {
	color:#FFF;
	background-color:#636363;
}


/* contactBtn */


.txtContacBnr a {
	color:#FFF;
	background-color:#8e8e8e;
}

.txtContacBnrPC {
	color:#FFF;
	background-color:#a7a7a7;
}


/* header */
#top-head {
	background: rgba(255,255,255,1);
}

 
#top-head a,
#top-head {
	color:#555555;
	
}
 

/* nav */
ul.global-nav li a:hover {
	border-bottom:2px #999 solid;
}


/* humberger area*/
.slicknav_menu {
    background-color: #f2f2f2;
}

.slicknav_nav li {
    background-color: #666;
}

.slicknav_nav a {
    border-bottom: 1px solid #555;
}

.slicknav_nav li:first-child {
	border-top: 1px solid #555;
}


.slicknav_nav .slicknav_row:hover {
	background: #E8E8E8;
	color: #fff;
}
.slicknav_nav a {
	border-bottom:1px solid #555;  /* 下線　*/
}
.slicknav_nav a:hover {
	background:#888; /* オーバー時背景色　*/
    color:  #fff; /* オーバー時文字色　*/
}





.slicknav_btn {
    background-color: #666;
}

/*===========================
slider
===========================*/


.bxslider {

}



/* backgrounds */

.bgcolorBnr {
	background-color: #f7f7f7;
}

.bgcolorBnrs {
	background-color: #f7f7f7;
}


.bgcolor1 {
	padding:4.3em 10px;
	background-color:#f9f9f9;
}

.bgcolor1s {
	padding:4.3em 0 0.5em 0;
	background-color:#f9f9f9;
}

.bgcolor2 {
	padding:4.4em 10px;
	background-color:#eee;
}

.bgcolor2s {
	padding:4.4em 0 0.5em 0;
	background-color:#eee;
}


.bgcolor3 {
	padding:4.4em 10px;
	background-color:#fff;
}

.bgcolor3s {
	padding:4.4em 0 0.5em 0;
	background-color:#fff;
}



/*===========================
mainimage
===========================*/


#mainCatch p {

}


/*===========================
pageTitle
===========================*/



#pageTitleTxt h1 {
	color:#333;
}

@media screen and (max-width: 768px) {
#pageTitleTxt {
   /* background: rgba(0,0,0,.4);*/
}
}


/*===========================
footer
===========================*/


#footerList {
	background-color: #585858;
}


#footerDataWrap {
	background-color: #fafafa;
}

.footDataArea a {
	color:#333;
}

.telIcn {
	color:#555;
}

.telIcn a {
	color:#555;
	text-decoration:none;
}

.telIcn a:hover {	
	color:#555;
}



.mailContact a {
	border:1px solid #999;
	color:#555;
}

.mailContact a:hover {
	background-color:#FFF;
	
}


.copyright {
	background-color:#fff;
}


/* font color */

.redOrange {
	color:#FB5328;
}

.fc333 {
	color:#333;
}
.fcRed {
	color:#E92D05;
}

.fcRedOrange {
	color:#F44806;
}

.fcOrange {
	color:#F57312;
}

.fcYellow {
	color:#F3AB25;
}

.fcYG {
	color:#A7B82C;
}

.fcGreen {
	color:#58AB38;
}

.fcSkyB {
	color:#6ABDE6;
}

.fcBlue {
	color:#408BD0;
}

.fcBlueP {
	color:#8B5FCF;
}

.fcRedP {
	color:#AF41B8;
}

.fcWineR {
	color:#C62B71;
}





/*  */


.txtIcon {
	color:#FFF;
	background-color:#808080;
}

.txtBA {
	color:#FFF;
	background-color:#939393;
}






.dataArea {
	border-top:1px solid #EBEBEB;
}



/* catchiphrase */

.catch1 {
	color:#666;
}

.catch2 {
	color:#555;
}

.catchS {
	color:#555;
}

/* colored */ 

.catch2Red {
	color:#e22c2c;
}


.catch2YG {
	color:#8DAD0E;
}




/* addon-circle */ 

.circle-big::before {
color: #FFF;
background:#CCC;
}


ol.liFeature li::before {
	color: #FFF;
background:#CCC;
}




/* comingsoon */ 

.comingsoon {
	color:#999;
	background-color:#FDFDFD;
}

.comingsoon2 {
	color:#999;
	background-color:#FDFDFD;
	border:#ececec 1px solid;
}



/*===========================
content
===========================*/




/* column  */ 

.column1_100p {
	border:1px solid #CCC;
	background: rgba(255,255,255,.9);
}

.column1_80p {
	border:1px solid #CCC;
	background: rgba(255,255,255,.9);
}

.column1_60p {
	border:1px solid #CCC;
	background: rgba(255,255,255,.9);
}

.column2_80p {
	border:3px double #CCC;
	background: rgba(255,255,255,.9);
}

.column2_60p {
	border:3px double #CCC;
	background: rgba(255,255,255,.9);
}


.column3_80p {
	border:4px dashed #CCC;
	background: rgba(255,255,255,.95);
}

.column3_60p {
	border:4px dashed #CCC;
	background: rgba(255,255,255,.95);
}

.column4_80p {
	border:4px dashed #CCC;
	background: rgba(255,255,255,.95);
}

.column4_60p {
	border:4px dashed #CCC;
	background: rgba(255,255,255,.95);
}


/* list */

ul.liCircle li::before {
	background:#aaa;
}






/* table */

table.table1  {
	border-top: 1px #cccccc solid;
}


table.table1 th {
	border-bottom: 1px #cccccc solid;
	color:#3F7A16;
}

table.table1 td {
	border-bottom: 1px #cccccc solid;
}


/* table2 */

table.table1_2 th {
	border-bottom: 1px #cccccc solid;
}
table.table1_2 td {
	border-bottom: 1px #cccccc solid;
}


/* table2-2 */

table.table2 {
	border-top: 1px #cdcdcd solid;
	border-left: 1px #cdcdcd solid;
}
table.table2 th {
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#BBB;
	color:#FFF;
	
}
table.table2 td {
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#FFFFFF;
}


table.table2 td.table2TdCenterBgcolor {
	background-color:#FEFEFE;
}

table.table2 td.table2TdCenterBgcolor2 {
	background-color:#FFF;
}


table.table2 td.tdBgC01 {
	background-color:#FFF;
}

table.table2 td.tdBgC02 {
	background-color:#EEE;
}

table.table2 td.tdBgC03 {
	background-color:#DDD;
}


table.table2 td.tdBgC04 {
	background-color:#CCC;
}


table.table2 td.tdBgC05 {
	background-color:#BBB;
}



/* table3

table.table3 {	
	width:100%;
	border-top: 1px #cdcdcd solid;
	border-left: 1px #cdcdcd solid;
}
table.table3 th {
	padding:0.35em 0.5em;
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#bbb;
	color:#FFF;
}

table.table3 .table3w30p {
	width:30%;
}

table.table3 .table3w50p {
	width:50%;
}


table.table3 td {
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#FFFFFF;
}

 */





/* flow */


.area_flowC .inner_flow {
	border:1px solid #E1E1E1;
	background-color:#EEE;
}




.area_flowC .inner_flow .largeTxt {
	color:#555;
	border-bottom:1px dotted #CCC;
}



.area_flowS .inner_flow {
	background-color:#fefefe;
	border:1px solid #E1E1E1;
}


.area_flowS .inner_flow .largeTxtOra {
	color:#666;
}

.area_flowS .inner_flow .largeTxtGre {
	color:#888;
}




.flowTxt {
	border:1px solid #CCC;
	background-color:#FBFEFF;
}




/* icon? */ 


.admit {
	border:2px #DDD solid;
}


ul.liCheck2 li {
	color:#666;
}

ul.liCheck2 p { 
	color:#333;
}



ul.businessMark li {
	color:#666;
}

ul.businessMark li p {
	color:#444444;
}






/* info */



dl.info dd {
	border-bottom:#cccccc dotted 1px;
}



dl.history dd {
	border-bottom:#cccccc dotted 1px;
}


dl.history2 {
	 border-top:#666 dotted 1px;
}



dl.history2 dd {
	border-bottom:#666 dotted 1px;
}









.baTxt {
	background-color:#999;
	color:#FFF;
}

.telBig {
	font-size:2em;
	color:#666;
}




/*===========================
index
===========================*/

h2.bnrContTit {
	color: #666;
}




.bnr_details a {
	color:#FFF;
	background: #999;
}

.bnr_details a::after {
     border-top: solid 1px #FFF;
     border-right: solid 1px #FFF;
}

h2.h2Info {
	color:#666;
	border-bottom:2px solid #EEE;
}







/*===========================
contact
===========================*/


.contactTel {
	color:#555;
}

.contactTel a {
	color:#555;
}
.contactTel a:hover {	
	color:#555;
}



.contact table {	
	border-top: 1px #cdcdcd solid;
	border-left: 1px #cdcdcd solid;
	color:#444;
}
.contact table th {
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#f9f9f9;
	color:#333;
}
.contact table td {
	border-bottom: 1px #cdcdcd solid;
	border-right: 1px #cdcdcd solid;
	background-color:#FFFFFF;
}




.contact .btnSend {
	background-color:#999999;
	color: #FFF;
}
.contact .btnReset {
	background-color: #FFF;
	color:#333;
	border:1px solid #cccccc;
}



/*  privacy */

.privacy h3 {
	color:#444;
}
	





