/* 
 * ------- colorset default ---------------------
 */



ul.global-nav li a:hover {
	border-bottom:2px solid #efcc22;
}

.bnr_details a {
    background: #efcc22;
}

h2,
h2.bnrContTit,
{
    color: #222222;
}

h2 {
	border-bottom: 2px solid #efcc22;
}

#footerList {
    background-color: #efcc22;
}

/* ページ内リンク */

ul.pageAnch a , ul.pageAnch2 a {
	color:#FFF;
	background-color:#efcc22;
}


/* humberger area */

.slicknav_menu .slicknav_menutxt {  /* MENU文字色　*/
	color: #fff;
}

.slicknav_btn {
    background-color: #efcc22;  /* MENU背景　*/
}

.slicknav_menu {
    background-color: #f2f2f2;  /* 背景　*/
}

.slicknav_nav li {
    background-color: #efcc22;  /* ナビ色　*/
}

.slicknav_nav a {
    border-bottom: 1px solid #fcfcfc;  /* 下線　*/
}

.slicknav_nav li:first-child {
	border-top: 1px solid #fcfcfc; /* 最初の上線　*/
}


.slicknav_nav .slicknav_row:hover {
	background: #efcc22;
	color: #fff;
}

.slicknav_nav a:hover {
	background: #efcc22; /* オーバー時背景色　*/
	color:  #fff; /* オーバー時文字色　*/
}
